body {
  background-color: #a3a3a3;
  background-image: url("./image/pattern.png");
  background-size: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  font-size: 13px;
}

.bookcover {
  background-color: #b4d1da;
  border-radius: 9px;
  border: 1px solid #738186;
  width: 60rem;
  height: 30rem;
  margin: 90px auto;
  position: relative;
}

.bookdot {
  border-radius: 9px;
  border: 2px dashed #ffffff;
  padding: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.page {
  background-color: #eeeeee;
  border-radius: 9px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;

	
  display: flex;
  padding: 15px;
}

.profile-container {
  flex: 0.4;
  margin-right: 1.5rem;

  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.menu-container {
  flex: 0.15;

}

.header {
  flex: 0.1;
}

.content-title {
  padding: 6px 0;
  display: flex;
}

.content-title-name {
  flex: 1;
}

.content-title-url {
  flex: 1;
}

.profile-title {
  text-align: center;
  padding: 6px;
}

.color-red {
  color: red;
}
.profile-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.picture {
    flex: none;
}
.picimg {
    width: 90%;
    height: 90%;
    align-self: center;
}
.text {
    flex: 1;
}
.update-box{
    display: flex;
    flex-direction: column;
}
